.card {
  float: left;
  border: solid 1px black;
  width: 120px;
  border-radius: 5px;
  height: 168px;
  margin-right: 20px;
}

.covered > img {
  background-image: url("../img/card-back.png")
}

.hand {
  overflow: auto;
}

.hidden {
  display: none;
}

.alert {
  height: 30px;
  font-size: 100px;
}
